* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(earth.jpg);
  background-size: cover;
  background-position: center;
}
.container {
  width: 70%;
  height: 85%;
  background-color: rgba(148, 104, 77, 0.413);
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.374);
  position: relative;
  display: none;
  border-radius: 8px;
}
.contentDiv {
  height: 90%;
  border-radius: 8px;
}
.upper {
  width: 100%;
  height: 15%;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 72, 72, 0.687);
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
}

.upper .label {
  align-self: center;
  font-size: 29px;
}
.question-cont {
  width: 90%;
  height: 100px;
  background-color: hsl(100, 100%, 50%);
  margin: 30px auto;
  text-align: center;
  line-height: 100px;
  font-size: 25px;
  border-radius: 10px;
}

.choice-cont {
  width: 90%;
  background-color: azure;
  margin: 30px auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}

.choice:hover {
  cursor: pointer;
}

.choiceUpper {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 60%;
}
.choiceUpper--left {
  background-color: rgb(77, 134, 109);
  width: 40%;
  text-align: center;
  align-self: center;
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  height: 30px;
}
.choiceUpper--right {
  background-color: rgb(77, 134, 109);
  width: 40%;
  text-align: center;
  align-self: center;
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  height: 30px;
}
.choiceLower {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 40%;
  font-size: 25px;
}

.choiceLower--left {
  background-color: rgb(77, 134, 109);
  width: 40%;
  text-align: center;
  align-self: center;
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  height: 30px;
}
.choiceLower--right {
  background-color: rgb(77, 134, 109);
  width: 40%;
  text-align: center;
  align-self: center;
  font-size: 25px;
  padding: 7px;
  border-radius: 10px;
  height: 30px;
}

.message {
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  height: 40px;
  text-align: center;
  font-size: 25px;
}
.last-msg {
  display: none;
}
.msg-2 {
  display: none;
}

.lowerButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  height: 60px;
  width: 80%;
}
.lowerButtons .start {
  background-color: antiquewhite;
  margin: 0 15px;
  padding: 5px;
  width: 80px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}
.lowerButtons .next {
  background-color: antiquewhite;
  margin: 0 15px;
  padding: 5px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
}

.lowerButtons .star {
  pointer-events: none;
  color: rgba(186, 182, 182, 0.788);
}

.loginCont {
  background: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(earth.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5rem;
}
.login__header {
  text-align: center;
  color: rgb(255, 94, 0);
  font-size: 4rem;
  margin-top: 80px;
  text-shadow: 0 15px 33px white;
}
.cont {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}

.login__label {
  font-size: 28px;
  margin: 25px;
  color: aliceblue;
}
.login__input {
  height: 30px;
  width: 320px;
  padding: 8px;
  font-size: 22px;
  outline: none;
  letter-spacing: 10px;
  font-weight: bold;
}
.login_btn {
  display: block;
  color: rgb(255, 255, 255);
  padding: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgb(255, 94, 0);
  width: 200px;
  margin: 50px auto;
  border-radius: 8px;
  letter-spacing: 5px;
  transition: all 0.8s;
  font-weight: bolder;
  animation-name: moveup;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

.login-error {
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%);
  display: none;
}
.login_btn:hover {
  background-color: white;
  color: black;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.displayF {
  display: block;
}

@keyframes moveup {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.CongraMessage {
  width: 70%;
  height: 80%;
  background-color: antiquewhite;
  border-radius: 10px;
  display: none;
}
.CongraMessage__header {
  text-align: center;
  margin: 50px 0;
  font-size: 5rem;
  color: rgb(36, 253, 3);
}
.CongraMessage__high5 {
  display: block;
  font-size: 45px;
  margin: 25px;
  text-align: center;
}

.CongraMessage__message {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.CongraMessage__button {
  display: block;
  color: rgb(255, 252, 252);
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgb(24, 24, 24);
  width: 200px;
  margin: 50px auto;
  border-radius: 8px;
  letter-spacing: 5px;
  transition: all 0.8s;
  font-weight: bolder;
  text-align: center;
  box-shadow: 8px 10px 12px rgb(5, 5, 5);
}

.failMessage {
  width: 70%;
  height: 80%;
  background-color: antiquewhite;
  border-radius: 10px;
  display: none;
}

.failMessage__header {
  text-align: center;
  margin: 50px 0;
  font-size: 5rem;
  color: rgb(253, 3, 3);
}
.failMessage__high5 {
  display: block;
  font-size: 45px;
  margin: 25px;
  text-align: center;
}

.failMessage__message {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.failMessage__button {
  display: block;
  color: rgb(255, 252, 252);
  padding: 15px;
  text-decoration: none;
  font-size: 25px;
  background-color: rgb(24, 24, 24);
  width: 200px;
  margin: 50px auto;
  border-radius: 8px;
  letter-spacing: 5px;
  transition: all 0.8s;
  font-weight: bolder;
  text-align: center;
  box-shadow: 8px 10px 12px rgb(5, 5, 5);
}
